= simple_form_for @item do |f|
  .form-inputs
    .input-field
      = f.input :title
    .input-field
      = f.input :description, input_html: { class: 'materialize-textarea' }
    .file-field.input-field
      = text_field_tag '', '', class: 'file-path validate'
      .btn
        span File
        = f.input :image, label: false
  .form-actions
    = f.button :submit
